:root {
    --spacing-medium: 20px;
    --spacing--large: 25px;
    --white: #ffffff;
}

.nowPlaying-container {
    padding: var(--spacing--large) var(--spacing-medium);
    margin-left: 70px;
}

.now-playing-container__title {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 900;
    padding: var(--spacing-small) 5px;
    color: var(--white);
}

.now-playing-list-container {
    grid-gap: 1rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.now-playing-list-container a {
    text-decoration: none;
}