:root {
    --black: black;
    --white: #ffffff;
    --gray: #767e94;
    --yellow: #ffad49;
    --spacing-small: 10px;
    --medium-font-size: 20px;
    --medium-font-weight: 500;
}

.details-container {
    padding-left: 120px;
    padding-right: 120px;
    width: 100%;
}

.details-container__content {
    box-sizing: border-box;
}

.details-container__wrapper {
    margin: 100px;
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: center;

}

.details-container__header {
    display: flex;
}

.details-title {
    position: relative;
    z-index: 2;
    padding: 30px;
    background-color: rgba(18, 24, 41, 1);
    border-radius: 24px;
    width: 50%;
    margin-top: -72px;
    margin-left: 80px;
    color: var(--white);
    font-size: 1.5rem;
    font-weight: 700;
}

.poster img {
    border-radius: 1.5rem;
}

.overview {
    font-family: "Source Sans 3", sans-serif;
    font-size: var(--medium-font-size);
    color: var(--white);

}

.label {
    color: var(--gray);
    font-weight: var(--medium-font-weight);

}

.details-container__trailer {
    margin-left: 200px;
}

.details-grid {
    display: grid;
    gap: 0;
    margin-left: 100px;
}

.rating {
    color: var(--yellow);
    background: rgba(0, 0, 0, .65);
    border-radius: .5rem;
    padding: .25rem .5rem;
    width: 90px;

}

.mh-icon svg {
    stroke: var(--yellow);
    height: 1rem;
    width: 1rem;
    margin-right: 2px;
}

.related-title {
    color: var(--white);
    padding: var(--spacing-small) 15px;
    margin-top: 20px;
}

.release_date {
    color: var(--gray);
    font-weight: var(--medium-font-weight);
    margin-top: 5px;
    font-size: var(--medium-font-size);
}

.recommended-container {
    margin-top: 20px;
    padding: 10px 15px;
}

.date {
    color: var(--gray);
    font-weight: 700;
    font-size: var(--medium-font-size);
}

.recommended-container__card {
    width: 20%;
    border-radius: 2rem;
}


.favorite-icon {
    font-size: 30px;
}


@media (min-width:1024px) and (max-width:1280px) {
    .details-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .details-container__trailer {
        margin-left: 5px;
        width: 95vw;
    }

    .details-title {
        padding: 10px;
        width: 60%;
        margin-top: -11px;
        margin-left: 0px;
    }

    .details-container__wrapper {
        flex-direction: column-reverse;
        margin-left: 150px;
    }

    .poster img {
        width: 40vw;
        margin-left: -102px;
    }

    .details-grid {
        margin-left: 0px;
    }

    .label {
        width: 90vw;
        margin-top: -60px;
    }

    .recommended-container__card {
        width: 20vw;
        margin-bottom: 10px;
    }
}

@media (min-width:768px) and (max-width:1024px) {
    .details-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .details-container__trailer {
        margin-left: 5px;
        width: 95vw;
    }

    .details-title {
        padding: 10px;
        width: 60%;
        margin-top: -11px;
        margin-left: 0px;
    }

    .details-container__wrapper {
        flex-direction: column-reverse;
        padding-left: 15px;
    }

    .poster img {
        width: 40vw;
        margin-left: -102px;
    }

    .details-grid {
        margin-left: 0px;
    }

    .label {
        width: 90vw;
        margin-top: -60px;
    }

    .recommended-container__card {
        width: 20vw;
        margin-bottom: 10px;
    }
}

@media (min-width:576px) and (max-width:768px) {
    .details-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .details-container__trailer {
        margin-left: 5px;
        width: 95vw;
    }

    .details-title {
        padding: 10px;
        width: 60%;
        margin-top: -11px;
        margin-left: 0px;
    }

    .details-container__wrapper {
        flex-direction: column-reverse;

    }

    .poster img {
        width: 60vw;
        margin-left: -102px;
    }

    .details-grid {
        margin-left: 0px;
    }

    .label {
        width: 90vw;
        margin-top: -60px;
    }

    .recommended-container__card {
        width: 25vw;
        margin-bottom: 10px;
    }
}

@media (min-width:320px) and (max-width:576px) {
    .details-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .details-container__trailer {
        margin-left: 2px;
        width: 95vw;
    }

    .details-title {
        padding: 10px;
        width: 60%;
        margin-top: -11px;
        margin-left: 0px;
    }

    .details-container__wrapper {
        flex-direction: column-reverse;
    }

    .poster img {
        width: 70vw;
        margin-left: -102px;
    }

    .details-grid {
        margin-left: 0px;
    }

    .label {
        width: 90vw;
        margin-top: -60px;
    }

    .recommended-container__card {
        width: 30vw;
        margin-bottom: 10px;
    }
}


@media (max-width:320px) {
    .details-container {
        padding-left: 0px;
        padding-right: 0px;
    }

    .details-container__trailer {
        margin-left: 0px;
        width: 100vw;
    }

    .details-title {
        padding: 10px;
        width: 60%;
        margin-top: -11px;
        margin-left: 0px;
    }

    .details-container__wrapper {
        flex-direction: column-reverse;

    }

    .poster img {
        width: 90vw;
        margin-left: -102px;
    }

    .details-grid {
        margin-left: 0px;
    }

    .label {
        width: 90vw;
        margin-right: 100px;
        margin-top: -60px;
    }

    .recommended-container__card {
        width: 60vw;
        margin-bottom: 10px;
        margin-left: 30px;
    }
}