:root {
    --spacing-medium: 20px;
    --spacing--large: 25px;
    --white: #ffffff;
}

.trending-container {
    padding: var(--spacing--large) var(--spacing-medium);
    margin-left: 70px;
}

.trending-container__title {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 900;
    padding: var(--spacing-small) 5px;
    color: var(--white);
}

.trending-list-container {
    display: grid;
    row-gap: 24px;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
}

.trending-list-container a {
    text-decoration: none;
}

@media (min-width:769px) and (max-width:1024px) {
    .trending-list-container {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

@media (min-width:568px) and (max-width:769px) {
    .trending-list-container {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width:320px) and (max-width:568px) {
    .trending-list-container {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
}

@media (max-width:320px) {
    .trending-list-container {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
}