:root {
    --white: #ffffff;
    --spacing-small: 10px;

}

.login-title {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 900;
    padding: var(--spacing-small) 5px;
    color: var(--white);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.login-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-form__label {
    color: var(--white);
}

#sign-up-text {
    display: flex;
    align-items: center;

}

.authentication-methods-container {
    display: grid;
   
} 

.text-muted {
    color: var(--white) !important;
}

.login-form__input{
    display: inline !important;
}

.login-form__input input {
    margin-top:10px;
}

@media (max-width:320px){
    .login-container {
        padding: 10px 5px;
    }


    .login-form__input {
        margin-left: 0px;
    }
}