.register-title {
    font-family: "Source Sans 3", sans-serif;
    font-weight: 900;
    padding: var(--spacing-small) 5px;
    color: var(--white);
    padding: var(--spacing-small) 5px;
    color: var(--white);
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.register-form__label {
    color: var(--white);
}


.register-form__input {
   display: inline !important;
}

.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sign-button {
    width: 100%;
}

@media (max-width:320px) {
    .register-container {
        padding: 10px 5px;
    }


    .register-form__input {
        margin-left: 0px;
    }
}