.genres-list-container {
    display: grid;
    row-gap: 24px;
    grid-template-columns: repeat(4, minmax(0px, 1fr));
}

@media (min-width:769px) and (max-width:1024px) {
    .genres-list-container {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}

@media (min-width:568px) and (max-width:769px) {
    .genres-list-container {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
}

@media (min-width:320px) and (max-width:568px) {
    .genres-list-container {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
}

@media (max-width:320px) {
    .genres-list-container {
        grid-template-columns: repeat(1, minmax(0, 1fr))
    }
}